@tailwind base;
@tailwind components;
@tailwind utilities;

.drawer-side a.active {
    color: red;
  }
.a a.active {
    font-weight:700 ;
    --tw-bg-opacity: 1;
    background-color: rgb(156 163 175 / var(--tw-bg-opacity));
  }
